<div class="poke-card">
    <h3 class="pokemon-name">{{ pokeDetails ? pokeDetails.name[0].toUpperCase() + pokeDetails.name.substring(1) : 'Loading....' }}</h3>
    <div class="poke-types">
        <app-types-badge
            *ngFor="let type of types"
            [type]="type.type"
        ></app-types-badge>
    </div>
    <img width="200px" src="{{ pokeDetails ? pokeDetails.sprites.front_default : 'http://via.placeholder.com/640x360' }}" />
    <p class="detail"><span class="detail-title">Pokédex Number:</span> {{ pokeDetails ? pokeDetails.id : 'Loading....' }}</p>
    <p class="detail"><span class="detail-title">Height:</span> {{ pokeDetails ? pokeDetails.height : 'Loading....' }}</p>
    <p class="detail"><span class="detail-title">Weight:</span> {{ pokeDetails ? pokeDetails.weight : 'Loading....' }}</p>
</div>