@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --header-color: #673AB7;
    --header-font-color: #EEE;
    --background-color: #222;
    --card-color: #444;
    background-color: var(--background-color);
    color: var(--header-font-color);
    font-family: 'Roboto', sans-serif;
}